<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees DataTable</title>
    <!-- Include DataTables CSS and JS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body>

<table id="employeesTable" class="display">
    <thead>
        <tr>
            <th>Name</th>
            <!-- Add other columns as needed -->
        </tr>
    </thead>
</table>

<script>
    $(document).ready(function() {
        $('#employeesTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: '/',  // URL to the Django view handling the Ajax request
                type: 'GET',
                dataSrc: 'data',
            },
            columns: [
                {data: 'name'},
                // Add other columns as needed
            ]
        });
    });
</script>

</body>
</html>
